<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/public/js/app/letan/TiepNhanBenhNhanView.js}"></script>
    <script type="text/javascript">
        //var oTiepNhanBenhNhanView = new TiepNhanBenhNhanView();
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="ACTIONS box-action">
            <button type="button" class="btn btn-primary btn-sm" id="btnAddNew" disabled="disabled">
                <i class="fa fa-plus"></i> Thêm mới
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnSaveAddNew" disabled="disabled">
                <i class="fa fa-save"></i> Lưu &amp; Thêm mới
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnSave" disabled="disabled">
                <i class="fa fa-save"></i> Lưu
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClose" disabled="disabled">
                <i class="fa fa-remove"></i> Đóng
            </button>
        </div>
        <div class="FORM box-form">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mã số biên bản <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="ma">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ngày lập <span class="required">(*)</span></div>
                        <div class="input-group">
                            <input type="text" class="form-control wec-control-date" value="" id="ngaylap"
                                name="ngaylap" autocomplete="off" placeholder="dd/mm/yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="$('#ngaylap').focus()"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Người lập</div>
                        <div class="select-custom">
                            <select id="nguoilapid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Trạng thái biên bản BG</div>
                        <div class="select-custom">
                            <select id="trangthai" class="form-control">
                                <option value="1">Biên bản mới lập</option>
                                <option value="2">Đang xử lý</option>
                                <option value="3">Đã bàn giao</option>
                                <option value="4">Tạm dừng</option>
                                <option value="5">Hủy bàn giao</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Bên giao <span class="required">(*)</span></div>
                        <div class="select-custom">
                            <select id="bengiaoid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Bên nhận <span class="required">(*)</span></div>
                        <div class="select-custom">
                            <select id="bennhanid" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Đại diện bên giao <span class="required">(*)</span></div>
                        <div class="select-custom">
                            <select id="daidienbenhgiaoid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Đại diện bên nhận <span class="required">(*)</span></div>
                        <div class="select-custom">
                            <select id="daidienbennhanid" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Nội dung</div>
                        <input type="text" class="form-control" id="noidung">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ghi chú</div>
                        <input type="text" class="form-control" id="ghichu">
                    </div>
                </div>
                
            </div>
            <div class="row">
                

            </div>
            
        </div>
    </div>
</body>

</html>