<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/public/js/app/letan/TiepNhanBenhNhanView.js}"></script>
    <script type="text/javascript">
        //var oTiepNhanBenhNhanView = new TiepNhanBenhNhanView();
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="ACTIONS box-action">
            <button type="button" class="btn btn-primary btn-sm" id="btnAddNew" disabled="disabled">
                <i class="fa fa-plus"></i> Thêm mới
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnSaveAddNew" disabled="disabled">
                <i class="fa fa-save"></i> Lưu &amp; Thêm mới
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnSave" disabled="disabled">
                <i class="fa fa-save"></i> Lưu
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClose" disabled="disabled">
                <i class="fa fa-remove"></i> Đóng
            </button>
        </div>
        <div class="FORM box-form">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mã tài sản <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="ma">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Tên tài sản <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="ten">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Xuất xứ</div>
                        <div class="select-custom">
                            <select id="quocgiaid" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Loại tài sản</div>
                        <div class="select-custom">
                            <select id="chungloaiid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Nguồn vốn</div>
                        <div class="select-custom">
                            <select id="nguonvonid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Hãng sản xuất</div>
                        <div class="select-custom">
                            <select id="hangsanxuatid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Nhà cung cấp</div>
                        <div class="select-custom">
                            <select id="nhacungcapid" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Đơn vị tính</div>
                        <div class="select-custom">
                            <select id="donvitinhid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Đơn vị quản lý</div>
                        <div class="select-custom">
                            <select id="donviid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Người quản lý</div>
                        <div class="select-custom">
                            <select id="nhanvienid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mã vạch NSX</div>
                        <input type="text" class="form-control" id="mavachnsx">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Tiền tệ</div>
                        <div class="select-custom">
                            <select id="donviid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Giá tài sản</div>
                        <input type="text" class="form-control" id="giatien">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mã vạch NSX</div>
                        <input type="text" class="form-control" id="mavachnsx">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Model</div>
                        <input type="text" class="form-control" id="model">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Thuộc tài sản</div>
                        <div class="select-custom">
                            <select id="taisanchaid" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Trạng thái</div>
                        <div class="select-custom">
                            <select id="trangthai" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Part Number</div>
                        <input type="text" class="form-control" id="partnumber">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Serial Number</div>
                        <input type="text" class="form-control" id="serialnumber">
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ngày lắp <span class="required">(*)</span></div>
                        <div class="input-group">
                            <input type="text" class="form-control wec-control-date" value="" id="ngaylap"
                                name="ngaylap" autocomplete="off" placeholder="dd/mm/yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="$('#ngaylap').focus()"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ngày nhập <span class="required">(*)</span></div>
                        <div class="input-group">
                            <input type="text" class="form-control wec-control-date" value="" id="ngaynhap"
                                name="ngaynhap" autocomplete="off" placeholder="dd/mm/yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="$('#ngaynhap').focus()"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Năm sử dụng</div>
                        <input type="number" class="form-control" id="namsudung">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Bảo hành<span class="required">(*)</span></div>
                        <div class="input-group">
                            <input type="text" class="form-control wec-control-date" value="" id="hanbaohanh"
                                name="hanbaohanh" autocomplete="off" placeholder="dd/mm/yyyy" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="$('#hanbaohanh').focus()"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Giá trị khấu hao</div>
                        <input type="number" class="form-control" id="donvikhauhao">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Loại khấu hao</div>
                        <div class="select-custom">
                            <select id="loaikhauhao" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ghi chú</div>
                        <input type="text" class="form-control" id="ghichu">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>