<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
	<meta charset="utf-8" />
	<title>Tra cứu tài sản</title>
	<script type="text/javascript" th:src="@{/public/js/app/taisan/TraCuuView.js}"></script>
	<script type="text/javascript">
		var oTraCuuView = new TraCuuView();
	</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="main-content">
			<div class="box">
					<div class="box-head" style="border-bottom: 1px solid #eaebec;">
						<div class="title">Tra cứu tài sản</div>
					</div>
					<div class="box-body">
					<div class="box-form">
						<div class="ACTIONS">
							<input type="hidden" id="hdfID" value="">
							<button type="button" class="btn btn-success btn-sm" id="btnLamMoi" disabled="disabled"><i
									class="glyphicon glyphicon-refresh" ></i> Làm mới</button>
							<button type="button" class="btn btn-info btn-sm" id="btnThemMoi" disabled="disabled"><i
									class="glyphicon glyphicon-plus"></i> Nhập TS mới</button>
							<button type="button" class="btn btn-info btn-sm" id="btnSua" disabled="disabled"><i
									class="glyphicon glyphicon-edit"></i> Cập nhật TS</button>
							<button type="button" class="btn btn-info btn-sm" id="btnDieuChieu" disabled="disabled"><i class="glyphicon glyphicon-hand-right"></i> Điều chuyển</button>		
							<button type="button" class="btn btn-info btn-sm" id="btnDieuChieu" disabled="disabled"><i class="glyphicon glyphicon-hand-right"></i> Báo hỏng</button>		
							<button type="button" class="btn btn-danger btn-sm" id="btnXoa" disabled="disabled"><i class="glyphicon glyphicon-trash"></i> Tiêu hủy</button>
							<div class="btn-group" id="btnTienIch">
								<div class="btn-group">
									<button type="button" class="btn btn-success btn-sm dropdown-toggle"
										data-toggle="dropdown">
										<i class="glyphicon glyphicon-print"></i> Tiện ích <span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li><button type="button" class="btn btn-link btn-sm" id="btnPhieuDeXuatCapMoi">Phiếu đề xuất cấp mới</button></li>
										<li><button type="button" class="btn btn-link btn-sm" id="btnPhieuDeXuatBoXung">Phiếu đề xuất cấp bổ xung số lượng</button></li>
										<li><button type="button" class="btn btn-link btn-sm" id="btnPhieuDeXuatSuaChua">Phiếu đề xuất cấp sửa chữa</button></li>
										<li><button type="button" class="btn btn-link btn-sm" id="btnPhieuKiemKe">Phiếu kiểm kê tài sản</button></li>
										<li><button type="button" class="btn btn-link btn-sm" id="btnIntem">Phiếu in tem tài sản</button></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="divider-gray"></div>
					<div class="box-form" style="margin-bottom: 0px;">
						<input type="hidden" id="hdfBenhLy" value="0">
						<div class="row">
							<div class="col-sm-2 col-xs-12 ">
								<div class="form-group">
									<div class="label-text">Lọc theo loại tài sản</div>
									<div class="select-custom">
										<select id="loaihinhid" class="form-control"></select>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12 ">
								<div class="form-group">
									<div class="label-text">Tìm theo tên hoặc mã tài sản</div>
									<div class="input">
										<input type="text" class="form-control" id="txtTuKhoa"
											placeholder="Nhập từ khóa tìm kiếm">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12">
								<div class="label-text">
									&nbsp;
								</div>
								<div class="input">
									<button type="button" class="btn btn-sm btn-primary" id="btnLoc"><i
											class="glyphicon glyphicon-filter"></i> Lọc</button>
									<button type="button" class="btn btn-sm btn-danger" id="btnHuyLoc"><i
											class="glyphicon glyphicon-remove"></i> Hủy lọc</button>
								</div>
							</div>
						</div>
					</div>
					<div class="divider-gray"></div>
					<div class="table-content">
						<table class="table dataTable" id="Grid01">
							<thead>
								<th style="width:20px;text-align: center;">#</th>
								<th><span class="fa fa-star icon"></span></th>
								<th>Tên tài sản</th>
								<th>Model</th>
								<th>Đơn vị sử dụng</th>
								<th>Hãng sản xuất</th>
								<th>Serial Number</th>
								<th>Trạng thái</th>
								<th>Khấu hao</th>
							</thead>
							<tbody></tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>