<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Header</title>
	<meta charset="utf-8" />

</head>

<body>
	<div th:fragment="sidebar">
		<script type="text/javascript" th:src="@{/public/templates/medic247/vendor/highchart/highcharts.js}"></script>
		<div class="sidebar-menu">
			<div class="top">
				<a class="logo">
					<img th:src="@{/public/templates/medic247/img/logo-white.svg}" alt="Logo">
				</a>
			</div>
			<div class="navbar mscrollable">
				<div class="menus">
					<div class="item active">
						<a th:href="@{/app/common/dashboard}" class="url">
							<span class="icon icon-uniF1272 -ap"></span>
							<span class="text">
								Bảng điều khiển
							</span>
						</a>
					</div>
					<div class="item">
						<a href="#" class="url">
							<span class="icon -ap  icon-business-card"></span>
							<span class="text">Tài sản</span>
							<div class="down -ap  icon-chevron-right22">
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class=""><a th:href="@{/app/taisan/tracuu}"> Tra cứu - tìm kiếm</a></li>
							<li class=""><a th:href="@{/app/taisan/bangiao}"> Phân bổ bàn giao</a></li>
							<li class=""><a th:href="@{/app/taisan/thuhoi}"> Thu hồi, lưu kho</a></li>
							<li class=""><a th:href="@{/app/taisan/suachua}"> Sửa chữa, thanh lý</a></li>
							<li class=""><a th:href="@{/app/taisan/dieuchuyen}"> Điều chuyển</a></li>
							<li class=""><a th:href="@{/app/taisan/kiemke}"> Kiểm kê</a></li>
							<li class=""><a th:href="@{/app/taisan/thanhly}"> Thanh lý</a></li>
						</ul>
					</div>
					<div class="item">
						<a href="#" class="url">
							<span class="icon -ap  icon-business-card"></span>
							<span class="text">Phiếu</span>
							<div class="down -ap  icon-chevron-right22">
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class=""><a th:href="@{/app/phieu/baohong}"> Báo hỏng - sửa chữa</a></li>
							<li class=""><a th:href="@{/app/phieu/trangcap}"> Đề xuất trang cấp</a></li>
							<li class=""><a th:href="@{/app/phieu/muamoi}"> Đề xuất mua mới</a></li>
							
						</ul>
					</div>
					<div class="item">
						<a href="#" class="url">
							<span class="icon -ap  icon-business-card"></span>
							<span class="text">Danh mục</span>
							<div class="down -ap  icon-chevron-right22">
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class=""><a th:href="@{/app/danhmuc/donvi}"> Đơn vị</a></li>
							<li class=""><a th:href="@{/app/danhmuc/chucvu}"> Chức vụ</a></li>
							<li class=""><a th:href="@{/app/danhmuc/nhanvien}"> Nhân viên</a></li>
							<li class=""><a th:href="@{/app/danhmuc/tiente}"> Tiền tệ</a></li>
							<li class=""><a th:href="@{/app/danhmuc/quocgia}"> Quốc gia</a></li>
							<li class=""><a th:href="@{/app/danhmuc/nguonvon}"> Nguồn vốn</a></li>
							<li class=""><a th:href="@{/app/danhmuc/hopdong}"> Hợp đồng</a></li>
							<li class=""><a th:href="@{/app/danhmuc/loaihang}"> Loại hàng</a></li>
							<li class=""><a th:href="@{/app/danhmuc/chungloai}"> Chủng loại</a></li>
							<li class=""><a th:href="@{/app/danhmuc/donvitinh}"> Đơn vị tính</a></li>
							<li class=""><a th:href="@{/app/danhmuc/nhacungcap}"> Nhà cung cấp</a></li>
							<li class=""><a th:href="@{/app/danhmuc/hangsanxuat}"> Hãng sản xuất</a></li>
						</ul>
					</div>
					<div class="item">
						<a href="#" class="url">
							<span class="icon  icon-cog4 -ap"></span>
							<span class="text">Hệ thống</span>
							<div class="down -ap  icon-chevron-right22">
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class=""><a th:href="@{/app/hethong/chude}"> Người dùng</a></li>
							<li class=""><a th:href="@{/app/hethong/phanquyen}"> Phân quyền</a></li>
							<li class=""><a th:href="@{/app/hethong/saoluu}"> Sao lưu</a></li>
							<li class=""><a th:href="@{/app/hethong/khoiphuc}"> Khôi phục hệ thống</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>